
My Computer Science Website Template(Title: CS Foundations): 
<!DOCTYPE>
<html> 
 <head> 
  <title> Introduction </title> 
  <link rel = "stylesheet" href="styles.css"/>
  <style> 
  body{ 
  font-family: Arial, sans-serif; 
  margin: 20px; 
   } 
  article{
  border: 1px solid #ccc; 
  padding: 15px; 
  margin-bottom: 20px; 
  } 
  h1{
  color:#305CDE;
  } 
  h2{ 
  color:#00FF00; 
  } 
  ul { 
  list-style-type: square; 
   } 
   
  .highlight{
  color: blue; 
  font-weight: bold;
  } 
  
  #special{ 
  font-style:Italic;
  color: #008000;
   
 </style> 
 </head>
 <body>
 <article> 
 <h1>Introduction to CS</h1>
 <h2 id = "special">Who is credited as the father of computer science?</h2>
 <ul>
 <li>Greg Orchard</li>
 <li>Albert Einstein</li>
 <li class = "highlight">Alan Turing</li>
 <li>Napoleon the Third</li>
 </ul>
 </article>
 </body>
</html>

